<navbar-component></navbar-component>
<div class="col-md-8" style="padding-bottom:10px; margin: 0 auto 0 auto">
    <div class="col-md-12" style="padding-top:20px;">
        <div class="form-group row">
            <div class="col-sm-3">
              <label for="description" class="col-form-label">Description: </label>
            </div>
            <div class="col-sm-9">
              <textarea style="resize:none" id="description" class="form-control" formControlName="description" placeholder="Description"></textarea>
            </div>
          </div>
    </div>
    <div class="col-md-12" style="padding-top:20px;">
      <div class="form-group row">
        <div class="col-sm-3">
          <label for="tags" class="col-form-label">Tags: </label>
        </div>
        <div class="col-sm-9">
          <input type="text" id="tags" class="form-control" formControlName="tags" placeholder="Add tags to your post, separate them with hash signs #like#this" />
        </div>
      </div>
    </div>
    <div class="col-md-12" style="padding-top:20px;">
      <span style="color:red;" *ngIf="message">{{message}}</span>
      <input #file type="file" accept='image/*' (change)="preview(file.files)" />
    </div>
    <div class="col-md-12" style="padding-top:20px;">
      <label>Preview of selected file:</label>
      <img [src]="imgURL" width=100% *ngIf="imgURL">
    </div>
    <div class="col-md-12" style="padding-top:20px;">
      <button class="btn btn-primary pull-right">Publish Post</button>
    </div>
</div>
