<div class="card" style="padding-top:15px;">
  <div class="col-md-12" style="padding-bottom:10px;">
    <a href="/{{username}}" style="width:32px; height:32px;">
      <img style="width:32px; height:32px; border-radius:50%; margin-right:15px;" src="https://instagram.fsjj1-1.fna.fbcdn.net/vp/8c874ca2143bc4c6536a502780dd365e/5D79B4CC/t51.2885-19/s150x150/49717550_365808257535806_3195714053456527360_n.jpg?_nc_ht=instagram.fsjj1-1.fna.fbcdn.net">
    </a>
    <label><b>{{username}}</b></label>
    <button class="bg-transparent border-0 pull-right"><i class="fa fa-ellipsis-v"></i></button>
  </div>
  <div class="col-md-12" style="padding: 0;">
    <!-- Post Content-->
    <img style="width:100%" src='{{content}}'>
  </div>
  <div class="col-md-12" style="padding-top: 15px; font-size:1.4em">
    <button class="bg-transparent border-0"><i class="fa fa-thumbs-o-up"></i></button>
    <button class="bg-transparent border-0"><i class="fa fa-smile-o"></i></button>
    <button class="bg-transparent border-0"><i class="fa fa-frown-o"></i></button>
    <button class="bg-transparent border-0"><i class="fa fa-meh-o"></i></button>
    <button class="bg-transparent border-0"><i class="fa fa-comment"></i></button>
  </div>
  <div class="col-md-12" style="font-size:0.8em">Posted X minutes ago</div>
  <comments-component></comments-component>
</div>
