<div class="row" style="padding: 10px 10px 25px 10px; border-bottom: 2px solid black;">
  <div class="col-sm-2" style ="display:flex; align-items: center;border-right: 2px solid black;">
    <img style="border-radius: 50%; max-width: 100%; height:auto;" src="https://instagram.fsjj1-1.fna.fbcdn.net/vp/8c874ca2143bc4c6536a502780dd365e/5D79B4CC/t51.2885-19/s150x150/49717550_365808257535806_3195714053456527360_n.jpg?_nc_ht=instagram.fsjj1-1.fna.fbcdn.net">
  </div>
  <div class="col-sm-8" style = "padding-left: 20px">
    <label style="font-weight: bold">{{userName}}</label><br/>
    <label> <b>{{noPosts}}</b> Posts <b>{{noFollowers}}</b> Followers <b>{{noFollowing}}</b> Following</label><br/>
    <label><b>{{fullName}}</b></label><br/>
    <label>{{desc}}</label><br/>
    <label><a href="https://{{fbLink}}">{{fbLink}}</a></label><br/>
  </div>
  <div class="col-sm-2" style="font-size: 2em;">
      <button class="btn btn-primary">Follow</button>
      <button class="bg-transparent border-0"><i class="fa fa-pencil"></i></button>
  </div>
</div>
